@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;
    top: 2.5rem;
}
/* absolute nav-container flex items-center bg-white-400 backdrop-blur-2xl
    w-nav h-24 right-0 */
.nav-container {
    background-color: rgba(255, 255, 255, 0.04);
    width: 56rem;
    right: 0;
}
/* absolute flex flex-row text-white uppercase
      tracking-nav-text left-30 */
.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 0.169rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-list> * {
    padding-block: 2.3rem;
}

.underline-nav> * {
    border-bottom: 3px solid #FFFFFF;
}

.numbers {
    font-weight: bold;
    margin-right: 0.688rem;
}

/* text-custom-blue text-lg font-normal
tracking-wide font-Barlow leading-8 */
.about {
    color: hsl(231, 77%, 90%);
    font: normal;
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.025rem;
    line-height: 2rem;
}

.seperation {
    background-color: hsl(231, 15%, 26%);
    width: 100%;
    height: 1px;
}

.travel-info {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;

    letter-spacing: 2.3625px;
    color: #D0D6F9;
}

.distance {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;

    color: #FFFFFF;
}

.role {
    font-family: 'Bellefair';
    font-size: 32px;
    color: white;
    opacity: .5;
    text-transform: uppercase;
}

.terminology {
    font-family: 'Barlow Condensed';
    font-size: 1rem;
    text-transform: uppercase;
    color: #D0D6F9;
    letter-spacing: 2.7px;
    line-height: 19px;
}

/***** Dot Button *****/
.dot-button> * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5rem;

    background-color: white;
    opacity: 0.30;
}

/***** Tech navigation *****/
.tech-nav> * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 100%, 0.3);

    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 32px;
}

/******** Hover effects ********/

.hover-explore:hover::before {
    content: '';
    position: absolute;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;

    width: 450px;
    height: 450px;
    border-radius: 50%;
    cursor: pointer;
}

/***** Screen Readers *****/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }