@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;
}

.nav-container {
    background-color: rgba(255, 255, 255, 0.04);
    color: #FFFFFF;
    inset: 0 0 0 30%;

    transform: translateX(100%);
    transition: 300ms ease-out;

    z-index: 100;
}

.nav-container[data-visible="true"] {
    transform: translateX(0%);
}

/* absolute flex flex-row text-white uppercase
      tracking-nav-text left-30 */
.nav-list {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.169rem;
    font-family: 'Barlow Condensed', sans-serif;

    padding: min(20vh, 10rem) 2rem;
    padding-right: 0%;
}

.nav-list> * {
    height: 2rem;
    color: hsl(0, 0%, 100%);
    margin-block: .5rem;
}
.destination-nav> * {
    color: #D0D6F9;
    padding-block: 1rem;
}

.underline-nav> * {
    border-right: 3px solid hsla(0, 0%, 100%, 0);
}

.underline-nav> *:hover,
.underline-nav> *:focus {
    border-color: hsl(0, 0%, 100%, .5);
    transition: 0.4s;
}

.underline-nav> .active {
    color: #FFFFFF;
    border-color: hsl(0, 0%, 100%);
}

.numbers {
    font-weight: bold;
    margin-right: 0.688rem;
}

.about {
    color: hsl(231, 77%, 90%);
    font: normal;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.025rem;
    line-height: 2rem;
}

.seperation {
    background-color: hsl(231, 15%, 26%);
    width: 100%;
    height: 1px;
}

.travel-info {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;

    letter-spacing: 2.3625px;
    color: #D0D6F9;
}

.distance {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;

    color: #FFFFFF;
}

.role {
    font-family: 'Bellefair';
    font-size: 32px;
    color: white;
    opacity: .5;
    text-transform: uppercase;
}

.terminology {
    font-family: 'Barlow Condensed';
    font-size: 1rem;
    text-transform: uppercase;
    color: #D0D6F9;
    letter-spacing: 2.7px;
    line-height: 19px;
}

/***** Dot Button *****/
.dot-button> * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5rem;

    background-color: white;
    opacity: 0.30;
}

.dot-button> *:hover {
    opacity: .6;
}
.dot-button> *.active {
    opacity: 1;
}

/***** Tech navigation *****/
.tech-nav> * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 100%, 0.3);

    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 32px;
}

.tech-nav> *:hover {
    border: 1px solid hsl(0, 0%, 100%);
    transition: 1s;
}
.tech-nav> *.active {
    color: black;
    background-color: #FFFFFF;
}

/******** Hover effects ********/

.hover-explore:hover::before {
    content: '';
    position: absolute;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;

    width: 450px;
    height: 450px;
    border-radius: 50%;
    cursor: pointer;
}

/***** Screen Readers *****/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

.menu-icon {
    position: absolute;
    background-color: transparent;
    background-image: url('../assets/shared/icon-hamburger.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    right: 1.5rem;
    top: 33px;

    z-index: 9999;
}
.menu-icon[aria-expanded="true"] {
    background-image: url('../assets/shared/icon-close.svg');
}
  /* ----------------Responsive------------------ */
@media (min-width: 48rem) and (max-width: 64rem) {
    .numbers {
        display: none;
    }
}
/* tablet */
@media (min-width: 48rem) {
    .menu-icon {
        display: none;
    }
    .nav-container {
        position: absolute;
        align-items: center;
        inset: 0 0 0 40%;
        transform: translateX(0%);
    }
    .nav-list {
        flex-direction: row;
        width: auto;
        padding: 0;
    }
    .nav-list> * {
        height: auto;
        padding-block: 2.2rem;
        margin: 0;
    }
    .explore {
        width: 15rem;
        height: 15rem;
        top: 36rem;
    }
    .underline-nav> * {
        border-bottom: 3px solid hsla(0, 0%, 100%, 0);
        border-right: none;
    }
}
/* desktop */
 @media (min-width:64rem) {
    .article {
        margin-inline: 0;
    }
    .explore {
        position: absolute;
        margin: 0;
        top: 25rem;
        left: 45rem;
    }
    .hr-bar {
        position: absolute;
        background-color: #FFFFFF;
        width: 450px;
        height: 1px;
        top: 48px;
        left: 167px;
        mix-blend-mode: normal;
        opacity: .25;
    }
 }
 @media (min-width:82rem) {
    .explore {
        left: 60rem;
    }
 }
 @media (min-width:102rem) {
    .explore {
        left: 70rem;
    }
 }